/*3-1.css 2016, yooncobra*/
@charset "UTF-8";

body {
  font-family: '맑은 고딕', 'Apple SD Gothic Neo', sans-serif;
}

/*site name*/
.site h1 a {
  color: #83a4a8;
  text-decoration: none;
}
.site h1 {
  margin: 0;
  font-size: 30px;
  font-family: 'Paytone One', sans-serif;
  font-weight: normal;
}

/*네비게이션*/
.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu li a {
  display: block;
  padding: 15px; /*5px to 15px*/
  color: #000;
  font-size: 14px;
  text-decoration: none;
}
.menu li a:hover {
  background-color: #75dbe7;
}
.menu ul::after {
  content: '';
  display: block;
  clear: both;
}
.menu li {
  float: left;
  width: auto;
}

/*article*/
.story h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 36px;
}
.story p {
  margin-top: 0;
  margin-bottom: 20px;
}
.story img {
  max-width: 100%;
  height: auto;
}

/*sidemenu*/
.sidemenu {
  margin-bottom: 30px;
}
.sidemenu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidemenu li a {
  display: block;
  padding: 5px;
  color: #0000;
  font-size: 14px;
  text-decoration: none;
}
.sidemenu li a:hover {
  background-color: #eeeeee;
}
.sidemenu h4 {
  margin-top: 0;
  margin-bottom: 10px;
  border-bottom: dotted 2px #dddddd;
  color: #666666;
  font-size: 18px;
}

/*Copyright*/
.copyright p {
  margin: 0;
  color: #666666;
  font-size: 14px;
}

/*box2 designed to the bar type*/
.box2 {
  background-color: #7cbac1;
}

/*insert border over box5*/
.box5 {
  border-top: solid 1px #dddddd;
}

/*space between boxes*/
.box1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.box3 {
  padding-top: 40px;
  padding-bottom: 30px;
}
.box4 {
  padding-top: 40px;
  padding-bottom: 30px;
}
.box5 {
  padding-top: 15px;
  padding-bottom: 15px;
}


@media (min-width: 768px) {
  /*box3와 box4를 가로 정렬하는 설정*/
  .boxA::after {
    content: '';
    display: block;
    clear: both;
  }
  .box3 {
    float: left;
    width: 70%;
  }
  .box4 {
    float: left;
    width: 30%;
  }

  /*box3 & box4 left right space*/
  .box3 {
    padding-right: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}
